:root {
  --hover-focus-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-focus-text-color: #ffffff;
  --main-backgroung-color: #f5f4fa;
}
.body {
  font-family: var(--main-font);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
/*_________HEADER_________*/
.header {
  background-color: teal;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  text-align: center;
}

.logo {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

.menu-list {
  display: flex;
  margin-left: 93px;
  padding: 0;
  list-style: none;
}
.menu-li .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: tomato;
}
.menu-li:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  text-decoration: none;
}
.header-contact-link {
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.contact {
  background-color: tomato;
}
.header-contact-li:not(:last-child) {
  margin-right: 50px;
}
.contact {
  text-decoration: none;
}
.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.mail-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-focus-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--hover-focus-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--hover-focus-color);
}
/*_________AND HEADER_________*/
/*_________HERO_________*/
.hero {
  text-align: center;
}
.title-hero {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff;*/
}
.btn-hero {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hover-focus-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
}
/*_________ AND HERO_________*/

/*_________ SECTION1_________*/
.content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sabtitle-content {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.text-content {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*_________ AND SECTION1_________*/
/*_________ SECTION2_________*/
.sabtitle-img {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.list-img {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*_________ AND SECTION2_________*
/*_________ SECTION3_________*/
.list-team {
  padding: 0;
  margin: 0;
  list-style: none;
}
.title-team {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.list-name {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.list-vacancy {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*_________ AND SECTION3_________*
/*_________ FOOTER_________*/
.footer {
  background-color: #2f303a;
  padding: 60px;
}
.text-adress {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress {
  margin-top: 20px;
}
.adress p {
  margin-bottom: 9px;
}
.footer-contact a:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
}

.mail-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.tel-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logo-text-footer {
  color: #ffffff;
}
/*_________ AND FOOTER_________*/

/*=================================================================================*/

/*_________ P-O-R-T-F-O-L-I-O_________*/

/*_________ NAVIGATION_________*/
.nav-list {
  list-style: none;
}
.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--main-backgroung-color);
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:focus {
  color: var(--hover-focus-text-color);
  background-color: var(--hover-focus-color);
}

/*_________ AND NAVIGATION_________*/
/*_________ SECTION_________*/
.portfolio {
  list-style: none;
}
.portfolio a {
  text-decoration: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*_________ AND SECTION_________*/
